@page
@model ProjectenModel
@{
    ViewData["Title"] = "Projecten";
    Layout = "";

    if (Model.err < 0)
    {
        Response.Redirect("~/503");
    }
}
<head>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/projectenlijst.css" type="text/css" />
</head>
<body>
    <div class="headers">
        <div class="header">
            Projectenlijst
            <div class="closehome">&times;</div>
        </div>
        <div class="header">
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option value="Aanvraag" disabled>Aanvraag</option>
                <option value="In calculatie" disabled>In calculatie</option>
                <option value="In uitvoering" selected="selected">In uitvoering</option>
                <option value="Gereed" disabled>Gereed</option>
            </select>
        </div>
        <div class="header">

        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Projectnummer</th>
                    <th>Project</th>
                    <th>Adres</th>
                    <th>Opdrachtgever</th>
                    <th>Startdatum</th>
                    <th>Einddatum</th>
                    <th>Uitvoerder</th>
                    <th>Werkvoorbereider</th>
                    <th>WPI</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model.projecten.Where(x => x.Status == "In uitvoering").ToList())
                {
                    <tr class="tr" onmouseover="this.style.backgroundColor = '#dcfac9';" onmouseout="this.style.backgroundColor = '#f5f5f5';">
                        <td>@project.ProjectNummer</td>
                        <td>@project.ProjectNaam</td>
                        <td>@project.WerkAdres</td>
                        <td>@project.Opdrachtgever</td>
                        <td>@project.StartDatum</td>
                        <td>@project.EindDatum</td>
                        <td>@project.Uitvoerder</td>
                        <td>@project.WerkVoorbereider</td>
                        <td>@project.Wpi</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        document.getElementsByClassName("closehome")[0].onclick = function () {
            window.location.href = '/';
        }
    </script>
</body>