@page
@model TrajectenModel
@{
    /* als je een een template wilt gebruiken voor alle paginas kan dat hier en dan is testlayout de algemene layout*/
    ViewData["Title"] = "trajecten";
    Layout = "";
}
<style>
    body{
        margin: 0;
    }
    .header {
        background-color: rgb(0, 82, 69);
        padding: 20px;
        font-size: 35px;
        color: white;
        border-bottom: solid white;
        margin: 0px;
    }
    div a{
        color: white;
        float: right;
    }
    table {
        background: #f5f5f5;
        border-collapse: separate;
        font-size: 12px;
        line-height: 24px;
        margin: 1%;
        text-align: left;
        width: 95%;
    }
    th {
        background: rgb(0, 82, 69);
        color: #fff;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
    }
    td {
        padding: 10px 15px;
        position: relative;
    }
</style>
<head>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
</head>
<body>
    <div class="header">
        Trajectenlijst
        <a href="/">X</a>
    </div>
    <div class="header">
        <label for="status">Status:</label>
        <select name="status" id="status">
            <option value="kies status">kies een status</option>
            <option value="in calculatie">In calculatie</option>
            <option value="in uitvoering">In voorbereiding</option>
            <option value="gereed">Gereed</option>
        </select>
    </div>
    <div class="header">
        <button id="add">Traject aanmaken</button>
        <button id="ask">Offerte aanvragen</button>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Projectnummer</th>
                    <th>Calculatienummer</th>
                    <th>Project</th>
                    <th>Adres</th>
                    <th>Opdrachtgever</th>
                    <th>Soort</th>
                    <th>AanvraagDatum</th>
                    <th>AanbodDatum</th>
                    <th>GereedDatum</th>
                    <th>Calculator</th>
                    <th>Status</th>
                    <th>Gereed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var traject in Model.trajecten)
                {
                <tr>
                    <td>@traject.ProjectNummer</td>
                    <td>@traject.CalculatieNummer</td>
                    <td>@traject.ProjectNaam</td>
                    <td>@traject.WerkAdres</td>
                    <td>@traject.Opdrachtgever</td>
                    <td>@traject.Soort</td>
                    <td>@traject.AanvraagDatum</td>
                    <td>@traject.AanbodDatum</td>
                    <td>@traject.GereedDatum</td>
                    <td>@traject.Calculator</td>
                    <td>@traject.Status</td>
                    <td>@traject.Gereed</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>