@page
@model TrajectenModel
@{
    /* als je een een template wilt gebruiken voor alle paginas kan dat hier en dan is testlayout de algemene layout*/
    ViewData["Title"] = "trajecten";
    Layout = "";
}
<head>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/projectenlijst.css" type="text/css" />
</head>
<body>
    <div class="headers">
        <div class="header">
            Trajectenlijst
            <div class="closehome">&times;</div>
        </div>
        <div class="header">
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option value="Aanvraag">Aanvraag</option>
                <option value="In calculatie" selected="selected">In calculatie</option>
                <option value="In uitvoering">In uitvoering</option>
                <option value="Gereed">Gereed</option>
            </select>
        </div>
        <div class="header">
            <button id="add">Traject aanvragen</button>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Projectnummer</th>
                    <th>Calculatienummer</th>
                    <th>Project</th>
                    <th>Adres</th>
                    <th>Opdrachtgever</th>
                    <th>Soort</th>
                    <th>AanvraagDatum</th>
                    <th>AanbodDatum</th>
                    <th>GereedDatum</th>
                    <th>Calculator</th>
                    <th>Status</th>
                    <th>Gereed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var traject in Model.trajecten.Where(x => x.Status == "In calculatie").ToList())
                {
                    <tr>
                        <td>@traject.ProjectNummer</td>
                        <td>@traject.CalculatieNummer</td>
                        <td>@traject.ProjectNaam</td>
                        <td>@traject.WerkAdres</td>
                        <td>@traject.Opdrachtgever</td>
                        <td>@traject.Soort</td>
                        <td>@traject.AanvraagDatum</td>
                        <td>@traject.AanbodDatum</td>
                        <td>@traject.GereedDatum</td>
                        <td>@traject.Calculator</td>
                        <td>@traject.Status</td>
                        <td>@traject.Gereed</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="close">&times;</div>
            <p>Traject toevoegen</p>
            <form method="post">
                <div class="group">
                    <label for="naam" class="label">Projectnaam</label>
                    <input id="naam" name="naam" type="text" class="input">
                </div>
                <div class="group">
                    <label for="plaats" class="label">Projectplaats</label>
                    <input id="plaats" name="plaats" type="text" class="input">
                </div>
                <div class="group">
                    <label for="calc" class="label">Calculator</label>
                    <select id="calc" name="calc">
                        @foreach (var personeel in Model.personeel)
                        {
                            <option>@personeel.Voornaam @personeel.Tussenvoegsel @personeel.Achternaam</option>
                        }
                    </select>
                </div>
                <input type="submit" value="x">
            </form>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("add");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal
        btn.onclick = function () {
            modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        document.getElementsByClassName("closehome")[0].onclick = function () {
            window.location.href = '/';
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</body>