@page
@model TrajectenModel
@{
    /* als je een een template wilt gebruiken voor alle paginas kan dat hier en dan is testlayout de algemene layout*/
    ViewData["Title"] = "trajecten";
    Layout = "";

    if(Model.err < 0)
    {
        Response.Redirect("~/503");
    }
}
<head>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="/css/projectenlijst.css" type="text/css" />
</head>
<body>
    <div class="headers">
        <div class="header">
            Trajectenlijst
            <div class="closehome">&times;</div>
        </div>
        <div class="header">
            <label for="status">Status:</label>
            <select name="status" id="status">
                <option value="Aanvraag" disabled>Aanvraag</option>
                <option value="In calculatie" selected="selected">In calculatie</option>
                <option value="In uitvoering" disabled>In uitvoering</option>
                <option value="Gereed" disabled>Gereed</option>
            </select>
        </div>
        <div class="header">
            <button id="add">Traject aanmaken</button>
            <button id="offerte">Offerte aanvragen</button>
        </div>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Projectnummer</th>
                    <th>Calculatienummer</th>
                    <th>Project</th>
                    <th>Adres</th>
                    <th>Opdrachtgever</th>
                    <th>Soort</th>
                    <th>AanvraagDatum</th>
                    <th>AanbodDatum</th>
                    <th>GereedDatum</th>
                    <th>Calculator</th>
                    <th>Status</th>
                    <th>Gereed</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var traject in Model.trajecten == null ? new List<Business.LijstTraject> { } : Model.trajecten.Where(x => x.Status == "In calculatie").ToList())
                {
                    <tr>
                        <td>@traject.ProjectNummer</td>
                        <td>@traject.CalculatieNummer</td>
                        <td>@traject.ProjectNaam</td>
                        <td>@traject.WerkAdres</td>
                        <td>@traject.Opdrachtgever</td>
                        <td>@traject.Soort</td>
                        <td>@traject.AanvraagDatum</td>
                        <td>@traject.AanbodDatum</td>
                        <td>@traject.GereedDatum</td>
                        <td>@traject.Calculator</td>
                        <td>@traject.Status</td>
                        <td>@traject.Gereed</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="close">&times;</div>
            <p>Traject toevoegen</p>
            <form method="post">
                <div class="group">
                    <label for="naam" class="label">Projectnaam</label>
                    <input id="naam" name="naam" type="text" class="input" required>
                </div>
                <div class="group">
                    <label for="plaats" class="label">Projectplaats</label>
                    <input id="plaats" name="plaats" type="text" class="input" required>
                </div>
                <div class="group">
                    <label for="calc" class="label">Calculator</label>
                    <select id="calc" name="calc" required>
                        @foreach (var personeel in Model.personeel == null ? new List<Business.Personeel> { } : Model.personeel)
                        {
                            <option>@personeel.Voornaam @personeel.Tussenvoegsel @personeel.Achternaam</option>
                        }
                    </select>
                </div>
                <div class="group">
                    <label for="aanbiedingRetour" class="label">aanbiedingRetour</label>
                    <input id="aanbiedingRetour" name="aanbiedingRetour" type="date" class="input" required>
                </div>
                <div class="group">
                    <label for="datumCalculatieGereed" class="label">datumCalculatieGereed</label>
                    <input id="datumCalculatieGereed" name="datumCalculatieGereed" type="date" class="input" required>
                </div>
                <input type="submit" value="toevoegen">
            </form>
        </div>
    </div>
    <div id="myModal2" class="modal">
        <div class="modal-content">
            <div class="close">&times;</div>
            <p>Offerte aanvragen</p>
            <form>
                <div>
                    <label for="datum-ingediend" class="label">Datum ingediend</label>
                    <input id="datum-ingediend" name="datum-ingediend" type="text" class="input" value="@DateTime.Now" disabled>
                    <label for="indiener" class="label">Indiener</label>
                    <select id="indiener" name="indiener" disabled>
                        @foreach (var personeel in Model.personeel == null ? new List<Business.Personeel> { } : Model.personeel)
                        {
                            <option>@personeel.Voornaam @personeel.Tussenvoegsel @personeel.Achternaam</option>
                        }
                    </select>
                </div>
            </form>
        </div>
    </div>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");
        var modal2 = document.getElementById("myModal2");

        // Get the button that opens the modal
        var add = document.getElementById("add");
        var offerte = document.getElementById("offerte");

        // When the user clicks the button, open the modal
        add.onclick = function () {
            modal.style.display = "block";
        }
        offerte.onclick = function () {
            modal2.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        document.getElementsByClassName("closehome")[0].onclick = function () {
            window.location.href = '/';
        }
        document.getElementsByClassName("close")[0].onclick = function () {
            modal.style.display = "none";
        }
        document.getElementsByClassName("close")[1].onclick = function () {
            modal2.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal || event.target == modal2) {
                modal.style.display = "none";
                modal2.style.display = "none";
            }
        }
    </script>

</body>